services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - '5433:5432'
    volumes:
      - .:/app 
      - postgres_data:/var/lib/postgresql/data

  server:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      
volumes:
  postgres_data:
